@font-face {
    font-family: 'Norasi';
    src: url('Norasi.woff2') format('woff2'),
        url('Norasi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norasi';
    src: url('Norasi-Bold.woff2') format('woff2'),
        url('Norasi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norasi';
    src: url('Norasi-Italic.woff2') format('woff2'),
        url('Norasi-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Norasi 2';
    src: url('Norasi-BoldItalic.woff2') format('woff2'),
        url('Norasi-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

